.pay{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgb(46, 44, 44);
    border-radius: 22px;
    margin: 20px;
    flex-direction: column;
}
.pay img{
    border-radius: 12px;
    margin-bottom: 20px;

}
.pay h1{
    color: white;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}