.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
}
.container{
    background-color: #f5f5f5;
    margin: 20px;
    border-radius: 22px;
    padding: 50px 5px 5px 5px;
}
