.Topnav{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    background-color: whitesmoke;
    height: 50px;
    margin-bottom: 40px;
}
.Topnav span{
    font-weight: 1000;
    margin-right: 1px;
}

.abovetext{
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
 font-size: 15px;
 color: rgba(0, 0, 0, 0.589);
}
.abovetext p{
    color: rgba(255, 17, 0, 0.993);
}
